<div class="mainView">
  <center><h1>Welcome to Soccer Teams</h1></center>
  <br><br>
  <h3>Soccer Teams is a ruby on rails application that allows users <br> to create a soccer team and then allows other users to join the <br>team. You will also be able to view the current info about each <br> player, such as: name, position, hometown, and jersey number.</h3>
  <h3>Each user will only be able to join 1 team, and on your profile you <br> will be able to view what team you are currently apart of.</h3>
  <center><%= link_to "Sign up now!", signup_path, class: "btn btn-lg brn primary" %></center>
</div>
