<div class="mainView">

    <%= image_tag("ball.png", :class => "soccerBall") %>
    <h3>This is a web application that will alleviate the miscommunication between teams, players, and their coaches.</h3>
    <h3><%= link_to"Learn more about this", controller: 'static_pages', action: "help" %><h3>
</div>
